body,
.container,
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-color: #fc1e8a;
}

/* Estilizacao do Container */
.container {
    position: relative;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(325deg, /*Raio de inicio do gradiente*/
            #03001e 0%,
            #800080 30%,
            #ec38bc 70%,
            #fdeff9 100%);
    padding: 40px 60px;
}

/* h2 - Jogo da memoria */
.container h2 {
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* button - class ="reset" */
.reset{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #e989ec;
    color: #ffffff;
    cursor: pointer;
}

/* quando der o clique no butao a cor do texto e fundo mudara. */
.reset:focus{
    color: #ec38bc;
    background-color: #fff;
}

/* Estilizacao do da parte onde ficara os cards */

.game{
    display: flex;
    width: 500px;
    height: 350px;
    border: 1px solid #fff;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;

}

/* Fim da estilizacao do Container */